<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doodle Search!</title>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <!--[if lte IE 8]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <link rel="stylesheet" href="../static//css/reset-css.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/headerfooter.css" />
</head>

<body>
<!--header-->
<header>
    <h1>Doodle Search!</h1>
    <p>Search images with your own doodle.</p>
</header>
<!--main-->
<main>
    <div>
        <div>
            <form
                    id="imgForm"
                    action="{{url_for('predict')}}"
                    method="POST"
                    enctype="multipart/form-data"
            >
                <div class="model-type" style="align-content: center">
                    <button type="submit" name="cnn" value="cnn" id="cnn">single object</button>
                    <button type="submit" name="yolo" value="yolo" id="yolo">One or more object</button>
                </div>

                <canvas
                        id="canvas"
                        width="400"
                        height="400"
                        style="border: 2px solid lightgoldenrodyellow"
                >
                    <script type="text/javascript">
                        $(document).ready(function () {
                            draw();
                        });
                    </script>
                </canvas>
                <div class="input-button">
                    <input type="hidden" id="url" name="url" />
                    <input type="button" value="Save" onclick="save()" />
                    <input type="button" value="Clear" id="clr" onclick="erase()" />

                    <input
                            type="file"
                            accept="image/jpeg, image/png"
                            id="userimg"
                            onchange="loadFile(this);"
                    />
                    <label for="userimg">Upload</label>
                </div>
            </form>
        </div>
    </div>
</main>

<footer>
    <div class="footer-container">
        <div class="developers">
            <span>Developers</span>
            <a href="https://github.com/seunghyoku">Seunghyo Ku</a>
            <a href="https://github.com/myamaak/">Dayoung Nam</a>
        </div>
        <div class="references">
            <span>References</span>
            <a href="https://quickdraw.withgoogle.com/">Google QuickDraw</a>
        </div>
        <div>
            <span>Repository</span>
            <a href="https://github.com/myamaak/draw_predict_search_web"
            >Github Repository</a
            >
        </div>
    </div>
</footer>
<script src="/static/getDrawing.js?u={{ last_updated }}"> </script>
</body>
</html>

<script>
    $('#imgForm').submit(function() {
        var input = document.getElementById("url");
        if(input.value.length == 0){
            alert("Please save the image to start searching!");
            return false;
        }
        return true;

    });

</script>